@media only screen and (min-width: 1441px) {
  .styles_hero-container__CI1c3 {
    justify-content: center;
    flex-direction: row;
    gap: 120px;
  }
}
.hero-section {
  background-color: #faf8f4;
  position: relative;
}
.main-wrap {
  background-color: #fff;
  overflow: clip;
}
.hero-section {
  position: relative;
  z-index: 1;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0);
  max-width: 923px;
  max-height: 808px;
  height: 100%;
  width: 100%;
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/gradient-pattern.avif);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 900px;
  gap: 40px;
}
.hero-container {
  margin-bottom: 56px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}
.title {
  font-size: 52px;
  font-weight: 700;
}
.title-span1 {
  background: linear-gradient(135deg, #bc87f6, #4235e5 50%, #bc87f6);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
  animation: shine 4s linear infinite;
  animation-delay: 1s;
}
/* span text animation */
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-span2 {
  color: #252e48;
}
.hero-about {
  width: 103%;
  color: #252e48;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.test-div {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  max-width: 720px;
}
.hero-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #bc87f6;
  box-shadow: 0 6px 12px rgba(188, 135, 246, 0.3);
  background-color: #fff;
}

.hero-form-input {
  width: 100%;
  min-width: 328px;
  max-width: 722px;
  height: 64px;
  padding-left: 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  outline: 8px solid #fff;
  box-shadow: 0 4px 16px rgba(56, 102, 255, 0.149);
  max-width: 468px;
  border: none;
  outline: none;
  border-radius: 18px;
  box-shadow: 0 4px 16px transparent;
}

.hero-input::placeholder {
  color: #aaa;
}

.hero-button {
  font-size: 15px;
  min-width: auto;
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
  padding: 0 30px;
  height: 52px;
  min-width: 100px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(180deg, #8980f7, #4a4585);
  box-shadow: 0 6px 12px 0 rgba(118, 109, 232, 0.4);
  transition: all 0.2s ease;
}
.hero-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.hero-search:focus-within {
  outline: 8px solid rgba(137, 128, 247, 0.161);
}
.rollin-images-div {
  padding: 16px 8px;
  width: 72px;
  border-radius: 24px;
  border: 1px solid #c1c9e0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.rollin-images-div p {
  font-weight: 700;
  color: #7683a8;
  text-align: center;
  font-size: 12px;
  margin-bottom: 12px;
}

.rollin-images-div div {
  display: flex;
  flex-wrap: wrap;
  border-radius: 50%;
  justify-content: center;
}

.rollin-images-div img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}
.video-container {
  width: 484px;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #c1c9e0;
  background-color: #fff;
  gap: 40px;
}
.right-content {
  margin-left: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.right-content h3 {
  font-weight: 700;
  line-height: 1.6;
  color: #252e48;
  position: relative;
  text-align: center;
  font-size: 18px;
}
.right-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 36px;
  height: 60px;
  transform: translate(50%, 35%);
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/herro-arrow.avif);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  animation: styles_arrow-animation__mTjG4 0.5s ease-in-out infinite alternate;
}
@keyframes styles_arrow-animation__mTjG4 {
  0% {
    transform: translate(50%, 35%);
  }
  100% {
    transform: translate(45%, 45%);
  }
}
.right-content a {
  font-weight: 600;
  font-size: 16px;
  color: #766de8;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.right-content a:hover {
  color: #4136c1;
}
.video {
  max-width: 396px;
  width: 100%;
  height: 396px;
}
.trusted {
  margin: 0 auto;
  padding: 48px 30px;
  width: 1460px;
  max-width: 100%;
}

.trusted-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.trusted-wrapper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #545f7e;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0 12px;
  text-align: center;
}

.trusted-wrapper span {
  color: #252e48;
  font-weight: 700;
}

.trusted-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  filter: grayscale(100%) brightness(60%);
}

.trusted img {
  width: 123px;
  aspect-ratio: auto 123 / 60;
  height: 60px;
}
.image-selector {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.image-selector-item {
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  padding: 5px;
  border: 3px solid transparent;
}

.image-selector-item.active {
  border-color: rgba(73, 90, 95, 0.784);
}

.image-selector-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

/* page 2 */

.generate-steps-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px 16px;
}
.generate-steps-section-first-p {
  margin-bottom: 56px;
}
.generate-steps-container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.generate-steps-container h2 {
  padding: 48px 0 16px;
  color: #252e48;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
}
.generate-steps-container span {
  background: linear-gradient(135deg, #bc87f6, #4235e5 50%, #bc87f6);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
  animation: shine 4s linear infinite;
  animation-delay: 1s;
}
.generate-steps-container p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.generate-item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 112px;
}
.generate-step-box {
  width: 96%;
  padding: 24px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 16px;
  background-color: #fef7e5;
  border-color: #f4e7c1;
}
.generate-step-box img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  object-fit: fill;
}
.step-one .generate-box-number {
  background-color: #f6d669;
}
.title-number-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.generate-step-box p {
  color: #252e48;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
}
.step-one .generate-step-box::before {
  right: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 64px;
  height: 64px;
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/generate-step-arrow.avif);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  transform: translate(100%, -100%);
}
.step-two .generate-step-box {
  background-color: #ffeefc;
  border-color: #fbd2ff;
}
.step-two .generate-box-number {
  background-color: #f0a8f7;
}

.step-two .generate-step-box::before {
  left: 0;
  content: "";
  position: absolute;
  bottom: 0;
  width: 64px;
  height: 64px;
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/generate-step-arrow.avif);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  transform: translate(-100%, -100%) scaleX(-1);
}

.step-three .generate-step-box {
  background-color: #e4fef8;
  border-color: #bfe6dd;
}
.step-three .generate-box-number {
  background-color: #84cdbc;
}
.generate-box-number {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.link-primary-button {
  margin-top: 55px;
  display: inline-block;
  line-height: 50px;
  padding: 0 30px;
  height: 52px;
  min-width: 100px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(180deg, #8980f7, #4136c1);
  box-shadow: 0 6px 12px 0 rgba(118, 109, 232, 0.4);
  transition: all 0.2s ease;
}
.link-primary-button:hover {
  background: linear-gradient(180deg, #695ef3, #2318a5);
  box-shadow: 0 6px 12px 0 rgba(118, 109, 232, 0.4);
}

/* page 3 */
.generate-section {
  background-color: white;
  padding: 48px 10px;
}
.generate-container {
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
.generate-container h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.generate-container span {
  background: linear-gradient(135deg, #bc87f6, #4235e5 50%, #bc87f6);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
  animation: shine 4s linear infinite;
  animation-delay: 1s;
}
.generate-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1232px;
}

@keyframes move-to-top {
  0% {
    margin-top: 0;
    transform: translateX(0);
  }
  50% {
    margin-top: -40px;
    transform: translateX(32px);
  }
  100% {
    margin-top: -25px;
    transform: translateX(16px);
  }
}

@keyframes move-to-top-reverse {
  0% {
    margin-top: 0;
    transform: translateX(0);
  }
  50% {
    margin-top: -40px;
    transform: translateX(-32px);
  }
  100% {
    margin-top: -25px;
    transform: translateX(-16px);
  }
}
.generate-box:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  transform: translate(-30%, -30%);
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/generate-steps-stars.avif);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

.generate-image-content img {
  max-width: 410px;
  height: auto;
}
.generate-text-content {
  color: #252e48;
}
.generate-text-content h3 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 1.6;
}
.generate-text-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.generate-box1 {
  background-color: #9fd0fd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
  animation: move-to-top 1s ease forwards;
}
.generate-box2 {
  background-color: #f0a8f7;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  animation: move-to-top-reverse 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box3 {
  background-color: #f6d669;
  display: flex;
  align-items: center;
  animation: move-to-top 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box4 {
  background-color: #b29ffd;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  animation: move-to-top-reverse 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box5 {
  background-color: #fbc6a0;
  display: flex;
  align-items: center;
  animation: move-to-top 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box6 {
  background-color: #9fd0fd;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  animation: move-to-top-reverse 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box7 {
  background-color: #f0a8f7;
  display: flex;
  align-items: center;
  animation: move-to-top 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box8 {
  background-color: #f6d669;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  animation: move-to-top-reverse 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box {
  display: flex;
  align-items: center;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
  animation: move-to-top 1s ease forwards;
}

/* page 4  */
.character-section {
  background-color: white;
  width: 100%;
  padding: 48px 0;
}
.characters-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1568px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 16px;
  color: #252e48;
}
.characters-container span {
  background: linear-gradient(135deg, #bc87f6, #4235e5 50%, #bc87f6);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
  animation: shine 4s linear infinite;
  animation-delay: 1s;
}
.characters-container p {
  color: #252e48;
  text-align: center;
  justify-content: center;
  margin-bottom: 32px;
  max-width: 900px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.characters-list {
  max-width: 1276px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.characters-list a {
  width: 404px;
  padding: 10px;
  height: 286px;
  border-radius: 24px;
  position: relative;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
}
.characters-image-container {
  border-radius: 16px;
  width: 100%;
  height: 216;
}

.characters-item:hover {
  box-shadow: 0 6px 12px rgba(37, 46, 72, 0.251);
}
.characters-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.character-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}
.characters-image-container img {
  border-radius: 16px;
  width: 100%;
  height: 216px;
  position: relative;
  overflow: hidden;
}

.character-video {
  opacity: 0; /* Скрываем видео */
}

.character-item:hover .character-img {
  opacity: 0; /* Скрываем изображение */
}

.character-item:hover .character-video {
  opacity: 1; /* Показываем видео */
}

.character-item-title {
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.character-img,
.character-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.character-img {
  z-index: 2;
}

.character-video {
  z-index: 1;
  opacity: 0;
  pointer-events: none; /* Чтобы видео не мешало кликам */
}

.character-item:hover .character-img {
  opacity: 0;
  z-index: 1;
}

.character-item:hover .character-video {
  opacity: 1;
  z-index: 2;
}
/* page 5 */
.popular-section {
  margin: 48px, 0;
  padding: 0, 16px;
}
.popular-section span {
  background: linear-gradient(135deg, #bc87f6, #4235e5 50%, #bc87f6);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
  animation: shine 4s linear infinite;
  animation-delay: 1s;
}
.popular-container {
  width: 96%;
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.popular-container h2 {
  max-width: 900px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
}
.popular-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.popular-card {
  border: 2px solid #bfe6dd;
  width: 368px;
  min-height: 300px;
  height: 290px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.popular-card h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.6;
  color: #252e48;
}
.popular-card p {
  color: #252e48;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
}
.icon-box {
  width: 96px;
  height: 96px;
  border-radius: 16px;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box img {
  width: 96px;
  aspect-ratio: auto 96 / 96;
  height: 96px;
}
.icon-box1 {
  background-color: #dafff6;
}
.icon-box2 {
  background-color: #fce7fe;
}
.icon-box3 {
  background-color: #fef7e5;
}
.popular-card1 {
  background: linear-gradient(
    106.45deg,
    rgba(236, 255, 250, 0.1) 0.68%,
    #ecfffa 98.97%
  );
  border: 2px solid #bfe6dd;
}
.popular-card2 {
  background: linear-gradient(
    304.25deg,
    #fef5ff 3.48%,
    rgba(254, 245, 255, 0) 95.27%
  );
  border: 2px solid #fbd2ff;
}
.popular-card3 {
  background: linear-gradient(106.47deg, #ffffff 1.83%, #fffee0 144.39%);
  border: 2px solid #f4e7c1;
}
@keyframes styles_fromRight2__U3yDw {
  0% {
    transform: translate(-41%, -53%);
  }
  50% {
    transform: translate(10%, -48%);
  }
  60% {
    transform: translate(10%, -48%);
  }
  80% {
    transform: translate(-41%, -53%);
  }
  100% {
    transform: translate(-41%, -53%);
  }
}
.icon-box1::before {
  width: 21px;
  height: 33px;
  transform: translate(-41%, -53%);
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/person-part.avif);
  animation: styles_fromRight2__U3yDw 2.2s infinite;
  content: "";
  position: absolute;
  width: 22px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(40%, -50%);
}
@keyframes mouseGrow {
  0% {
    opacity: 0;
    transform: scale(0.25);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.25);
  }
}
.icon-box2::before {
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/cursor-lines.avif);
  width: 46px;
  height: 46px;
  animation: mouseGrow 1.8s infinite;
  content: "";
  position: absolute;
  background-size: cover;
  background-position: 50%;
}
.icon-box3 {
  animation: rotateStar 5s ease-in infinite;
}
@keyframes rotateStar {
  0%,
  100% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(0);
  }
}
