/* Основные переменные */
:root {
  --primary-color: #252e48;
  --accent-color: #766de8;
  --gradient: linear-gradient(135deg, #bc87f6, #4235e5 50%, #bc87f6);
  --bg-light: #faf8f4;
  --border-color: #c1c9e0;
  --shadow-color: rgba(56, 102, 255, 0.149);
}

/* Базовые стили секции */
.hero-section {
  background-color: var(--bg-light);
  position: relative;
  margin-bottom: 20px;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 30%;
  right: 30%;
  transform: translate(60%, -29%);
  max-width: 923px;
  max-height: 808px;
  height: 100%;
  width: 100%;
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/gradient-pattern.avif);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 0;
}

@media only screen and (min-width: 769px) {
  .hero-section {
    height: auto;
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 998px) {
  .hero-section::before {
    content: "";
    position: absolute;
    top: 30%;
    right: 30%;
    transform: translate(60%, -29%);
    max-width: 923px;
    max-height: 808px;
    height: 100%;
    width: 100%;
    background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/gradient-pattern.avif);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1441px) {
  .hero-section::before {
    top: 0;
    right: 0;
    transform: translate(0);
  }
}

/* Левая колонка */
.left-content {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Контейнер и сетка */
.hero-container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto 56px;
  padding: 40px 16px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 16px;
}

.title-span1 {
  background: var(--gradient);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: shine 4s linear infinite 1s;
}

/* span text animation */
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.title-span2 {
  color: var(--primary-color);
}

.hero-about {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.test-div {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  max-width: 720px;
}

/* Форма поиска */
.hero-form {
  width: 100%;
  gap: 16px;
}

.hero-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 722px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  box-shadow: 0 4px 16px var(--shadow-color);
  background-color: #fff;
  outline: 8px solid #fff;
  transition: outline-color 0.2s ease;
}

.hero-search:focus-within {
  outline-color: rgba(137, 128, 247, 0.161);
}

.hero-form-input {
  min-width: 328px;
  padding-left: 16px;
  border-radius: 18px;
  outline: none;
  border: none;
  max-width: 468px;
}

.hero-form-input::placeholder {
  color: #aaa;
}

.hero-button {
  font-size: 15px;
  line-height: 50px;
  padding: 0 30px;
  height: 52px;
  font-weight: 500;
  border-radius: 8px;
  color: #fff;
  background: linear-gradient(180deg, #8980f7, #4136c1);
  box-shadow: 0 6px 12px rgba(118, 109, 232, 0.4);
  transition: transform 0.2s ease;
}

.hero-button:hover {
  transform: translateY(-2px);
}

.rollin-images-div {
  padding: 16px 8px;
  width: 72px;
  border-radius: 24px;
  border: 1px solid #c1c9e0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.rollin-images-div p {
  font-weight: 700;
  color: #7683a8;
  text-align: center;
  font-size: 12px;
}

.rollin-images-div img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
}

/* Правая колонка */
.video-container {
  width: 484px;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  @media only screen and (min-width: 768px) {
    .right-content {
      margin-left: 0;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 10px;
    }
  }
}

@media only screen and (max-width: 930px) {
  .hero-container {
    grid-template-columns: 1fr;
  }

  .video-container {
    width: 100%;
    padding: 20px;
  }

  .video {
    width: 100%;
    height: auto;
  }
}

.right-content h3 {
  font-weight: 700;
  line-height: 1.6;
  color: #252e48;
  position: relative;
  text-align: center;
  font-size: 18px;
}

.right-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 36px;
  height: 60px;
  transform: translate(50%, 35%);
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/herro-arrow.avif);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  animation: styles_arrow-animation__mTjG4 0.5s ease-in-out infinite alternate;
}

@keyframes styles_arrow-animation__mTjG4 {
  0% {
    transform: translate(50%, 35%);
  }
  100% {
    transform: translate(45%, 45%);
  }
}

.right-content a {
  font-weight: 600;
  font-size: 16px;
  color: #766de8;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.right-content a:hover {
  color: #4136c1;
}

.video {
  max-width: 396px;
  width: 100%;
  height: 396px;
  object-fit: cover;
}

/* Секция партнеров */
.trusted {
  max-width: 1460px;
  margin: 0 auto;
  padding: 48px 30px;
}

.trusted-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}

.trusted-wrapper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #545f7e;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0 12px;
  text-align: center;
}

.trusted-wrapper span {
  color: #252e48;
  font-weight: 700;
}

.trusted-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  filter: grayscale(100%) brightness(60%);
}

.trusted-images img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.image-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  margin-top: 20px;
  gap: 20px;
}
.image-selector-item {
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  padding: 5px;
  border: 3px solid transparent;
}

.image-selector-item.active {
  border-color: rgba(73, 90, 95, 0.784);
}

.image-selector-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

@keyframes shake {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  20% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
  40% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
