/* page 10 */

.faq-section {
  padding: 48px 10px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 16px 24px;
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  height: auto;
}

.heading {
  background-color: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.heading h2 {
  background-color: #fff;
  font-weight: 700;
  line-height: 1.3;
  max-width: 650px;
}

.heading span {
  background: linear-gradient(135deg, #bc87f6, #4235e5 50%, #bc87f6);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
  animation: shine 4s linear infinite 1s;
}

.scroll-active {
  transform: scale(0.9) translateY(-10px);
}

.faq-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c1c9e0;
  padding: 14px 0;
  cursor: pointer;
  gap: 16px;
}

.faq-item h3 {
  font-weight: 700;
  line-height: 1.6;
  padding-bottom: 15px;
}

.faq-question {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.faqItem-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 18px;
  width: 100%;
}

.faqItem-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-item.active .faqItem-text {
  max-height: 1000px;
}

.faqItem-text p {
  color: #545f7e;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  max-width: 500px;
}

.faq-item.active {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .faq-section {
    padding: 48px 10px;
  }

  .faq-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 72px;
  }

  .heading h2 {
    font-size: 40px;
    text-align: start;
  }

  .faq-item {
    max-width: 664px;
  }
}

@media only screen and (max-width: 992px) {
  .heading h2 {
    font-size: 24px;
    text-align: center;
  }

  .faq-item {
    gap: 6px;
  }

  .faq-item h3 {
    font-size: 16px;
    line-height: 1.3;
  }
}
