/* page 3 */
.generate-section {
  background-color: white;
  padding: 48px 10px;
}
.generate-container {
  max-width: 1560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
.generate-container h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.generate-container span {
  background: linear-gradient(135deg, #bc87f6, #4235e5 50%, #bc87f6);
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  display: inline;
  animation: shine 4s linear infinite;
  animation-delay: 1s;
}
.generate-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1232px;
}

@keyframes move-to-top {
  0% {
    margin-top: 0;
    transform: translateX(0);
  }
  50% {
    margin-top: -40px;
    transform: translateX(32px);
  }
  100% {
    margin-top: -25px;
    transform: translateX(16px);
  }
}

@keyframes move-to-top-reverse {
  0% {
    margin-top: 0;
    transform: translateX(0);
  }
  50% {
    margin-top: -40px;
    transform: translateX(-32px);
  }
  100% {
    margin-top: -25px;
    transform: translateX(-16px);
  }
}
.generate-box:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  transform: translate(-30%, -30%);
  background-image: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/generate-steps-stars.avif);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

.generate-image-content img {
  max-width: 410px;
  height: auto;
}
.generate-text-content {
  color: #252e48;
}
.generate-text-content h3 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 1.6;
}
.generate-text-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.generate-box1 {
  background-color: #9fd0fd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
  animation: move-to-top 1s ease forwards;
}
.generate-box2 {
  background-color: #f0a8f7;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  animation: move-to-top-reverse 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box3 {
  background-color: #f6d669;
  display: flex;
  align-items: center;
  animation: move-to-top 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box4 {
  background-color: #b29ffd;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  animation: move-to-top-reverse 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box5 {
  background-color: #fbc6a0;
  display: flex;
  align-items: center;
  animation: move-to-top 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box6 {
  background-color: #9fd0fd;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  animation: move-to-top-reverse 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box7 {
  background-color: #f0a8f7;
  display: flex;
  align-items: center;
  animation: move-to-top 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box8 {
  background-color: #f6d669;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  animation: move-to-top-reverse 1s ease forwards;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
}
.generate-box {
  display: flex;
  align-items: center;
  height: 414px;
  border-radius: 32px;
  padding: 32px 72px;
  animation: move-to-top 1s ease forwards;
}
