/* page 7 */
.innovative-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0;
  padding: 0 16px;
}

.innovative-container {
  max-width: 1560px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 20px;
  gap: 32px;
}

.innovative-content {
  display: flex;
  gap: 32px;
}

.innovative-left {
  display: flex;
  justify-content: center;
}

.innovative-left-div {
  max-width: 650px;
  height: 400px;
  position: relative;
  border-radius: 26px;
  border: 7px solid #fff;
  outline: 1px solid #d7beeb;
}

.iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.image-title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  position: relative;
}

.image-title img {
  width: 32px;
  height: 32px;
}

.image-title p {
  color: #252e48;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.innovative-right {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.innovative-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
  position: relative;
}

.innovative-box img {
  width: 32px;
  height: 32px;
}

.innovative-box h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.innovative-content2 {
  cursor: pointer;
  display: flex;
  padding: 16px 24px;
  border-radius: 16px;
  overflow: hidden;
}

.title-container {
  display: flex;
  gap: 16px;
  margin-bottom: 5px;
}

.innovative-section span {
  background: linear-gradient(135deg, #bc87f6, #4235e5 50%, #bc87f6);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  animation: shine 4s linear infinite 1s;
}

.box-1 {
  background: #ffeefc;
  border: 1px solid #fbd2ff;
}
.box-2 {
  background: #fef7e5;
  border: 1px solid #f0d9d5;
}
.box-3 {
  background: #dafff6;
  border: 1px solid #bfe6dd;
}
.box-4 {
  background: #f0ebff;
  border: 1px solid #d7beeb;
}
.box-5 {
  background: #ebf4ff;
  border: 1px solid #a3c9f6;
}

/* desktop */
@media (min-width: 993px) {
  .innovative-left-div::before {
    content: "";
    position: absolute;
    top: -65px;
    left: -170px;
    width: 208px;
    height: 156px;
    background: url(https://static.rfstat.com/renderforest/images/v2/landing-pics/ai-cartoon-generator/innovative-chips.avif)
      center / contain no-repeat;
    z-index: 2;
    transform: translate(-50%, -50%);
    transform-origin: right;
    animation: shake 3s ease-in-out infinite alternate;
  }
  .innovative-section h2 {
    max-width: 900px;
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
  }
}

/* mobile */
@media (max-width: 993px) {
  .innovative-section h2 {
    max-width: 900px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
  }

  .innovative-container,
  .innovative-content {
    flex-direction: column;
    padding: 0 20px;
    gap: 32px;
  }
  .innovative-content2 {
    width: 92%;
  }
  .innovative-content {
    padding: 0;
  }

  .innovative-left-div {
    height: auto;
  }

  .innovative-left-div iframe {
    width: 314px;
    height: 177px;
    left: 0;
    top: 1px;
  }

  .innovative-right {
    width: 100%;
    gap: 20px;
  }

  .innovative-box {
    width: 100%; /* innovative box width 100%*/
    flex-direction: column; /* innovative box column*/
    align-items: center;
    gap: 10px;
  }
  .innovative-box h3 {
    font-size: 1rem;
  }

  .innovative-section {
    margin: 20px 0;
  }
}
